@import url('https://fonts.googleapis.com/css?family=Kanit');
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif; 
}

.landingPage {
  background-color: #F2E002;
}

#map {
    height: 100%;
}